@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("fonts/myriad-pro/MYRIADPRO-COND.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("fonts/myriad-pro/MYRIADPRO-CONDIT.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("fonts/myriad-pro/MyriadPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"), url("fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("fonts/myriad-pro/MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("fonts/myriad-pro/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"), url("fonts/myriad-pro/MYRIADPRO-BOLDIT.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Bold Condensed Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"), url("fonts/myriad-pro/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}
body {
  margin: 0;
  font-family: "Myriad Pro Semibold", sans-serif;
}

.brand-color {
  color: #D0021B;
}

a {
  color: #06c;
}
a.ui-link {
  color: black;
}

p {
  font-family: "Myriad Pro";
}

.text-container {
  width: 960px;
  margin: 50px auto;
}

.centered {
  text-align: center;
}

.alt-heading {
  color: #999;
  margin-bottom: 25px;
}

.partner-logo {
  width: 248px;
  height: auto;
}

a.button {
  font-family: "Myriad Pro";
  padding: 13px 36px 12px 36px;
  border-radius: 8px;
  background-color: #06c;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Myriad Pro Semibold";
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  line-height: 2;
}

h2 {
  font-weight: normal;
  font-size: 27px;
  margin: 0;
  line-height: 1;
}

.contacts p {
  margin: 0;
  line-height: 1.4;
  font-family: "Myriad Pro";
  font-weight: normal;
}
.contacts-block {
  margin: 12px 0;
}
.contacts-block-title {
  padding-top: 4px;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  padding-top: 8px;
  font-family: "Myriad Pro Semibold";
  background-image: linear-gradient(45deg, #f5f7fa, #c3cfe2);
}

.logo-link {
  line-height: 0.8em;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-end;
  flex-wrap: wrap;
  margin-right: 32px;
}
.column .nav {
  flex-direction: column;
}

.nav-links .column:last-child {
  margin-right: 0;
}

.nm {
  margin-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

.bp {
  padding-bottom: 20px;
}

.lp {
  padding-left: 50px;
}

.search-container {
  position: relative;
  color: #7f7f7f;
  padding-bottom: 32px;
}
.search-container .search-results {
  display: none;
  z-index: 10;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.33);
  background-color: white;
  top: 50px;
  left: 0;
}
.search-container .search-results-line {
  display: none;
  cursor: pointer;
  color: black;
  font-family: "Myriad Pro";
  padding: 8px 12px;
  border-bottom: 1px dotted #ccc;
}
.search-container .search-results-line:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search-container .search-results-line:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-container .search-results-line:hover {
  border-radius: 10px;
  background-color: #eee;
}

.icon {
  font-size: 1.6em;
  margin-top: -6px;
  margin-right: 4px;
}

.phone {
  font-size: 32px;
  letter-spacing: -0.5px;
}
.phone .icon {
  font-size: 1em;
  margin-right: 2px;
}

.nav {
  margin-right: 0;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 16px;
  letter-spacing: 2px;
  color: #D0021B;
}

.swiper {
  --swiper-theme-color: rgba(0, 0, 0, 0.33);
  display: block;
  font-size: 24px;
  color: white;
  width: 100%;
  height: 400px;
}
.swiper-slide {
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cover {
  width: 100%;
  height: 400px;
  background-size: cover;
}

#categories {
  background-image: linear-gradient(to bottom, white, #d1e4ff);
}

#mp-catalog {
  background-image: linear-gradient(45deg, #f5f7fa, #c3cfe2);
}

#cart {
  background-image: linear-gradient(to top, #fbd999, beige);
  min-height: 70vh;
}

.map {
  margin-right: 50px;
}
.map > iframe {
  width: 640px;
  height: 400px;
}

.product-container {
  display: block;
  width: 1280px;
  background-color: white;
  margin-top: 32px;
  padding: 25px 40px;
  border-radius: 18px;
}
.product-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-image {
  width: 400px;
  height: 400px;
  background-size: contain;
  margin-right: 64px;
}
.product-info {
  font-family: "Myriad Pro";
  width: auto;
  padding: 25px 0;
}
.product-info-block {
  display: flex;
  flex-direction: row;
  width: 640px;
  margin: 4px 0;
}
.product-info-key {
  width: 25%;
  color: #999;
}
.product-info-value {
  width: 70%;
}
.product-price-block {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 32px;
}
.product-price-value {
  font-size: 32px;
}
.product-price-note {
  color: #999;
}
.product-price-cart {
  margin-top: 25px;
}
.product-price-cart a.added-to-cart {
  cursor: default;
  background-color: #ccc;
  color: #666;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1280px;
  box-sizing: border-box;
  padding: 32px 0 50px 0;
}
.items .category {
  width: 25%;
  margin-right: 64px;
  margin-top: 50px;
}
.items .category a {
  display: inline-block;
  font-family: "Myriad Pro";
  color: #06c;
  text-decoration: underline;
  margin-bottom: 12px;
}
.items .category a.root-category {
  font-size: 24px;
  margin-bottom: 20px;
}
.items .category a:hover {
  color: #D0021B;
  border-color: #D0021B;
}
.items .card {
  width: 294px;
  box-sizing: border-box;
  margin-top: 25px;
  margin-right: 25px;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  height: 392px;
  transition: 0.2s;
}
.items .card-image {
  width: 262px;
  height: 262px;
  background-size: contain;
}
.items .card-title {
  margin: 12px 0;
  height: 57px;
}
.items .card-more {
  font-family: "Myriad Pro";
  color: #06c;
  text-decoration: underline;
}
.items .card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);
}
.items .card:hover .card-more {
  color: #D0021B;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1280px;
}
.catalog .items {
  width: 985px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  height: fit-content;
  background-color: #fff7e1;
  box-sizing: border-box;
  margin-top: 56px;
  margin-right: 25px;
  padding: 16px;
  border-radius: 16px;
}
.sidebar a {
  font-family: "Myriad Pro";
  color: black;
}
.sidebar a:hover {
  text-decoration: none;
}
.sidebar-link {
  font-size: 18px;
  margin-bottom: 10px;
}
.sidebar-link-subcategory {
  font-size: 14px;
  margin-bottom: 6px;
  padding-left: 10px;
}
.sidebar-link-current {
  font-family: "Myriad Pro Semibold";
  font-weight: bold;
}

.breadcrumbs {
  font-family: "Myriad Pro";
}
.breadcrumbs * {
  color: #06c;
}
.breadcrumbs span {
  color: black;
}
.breadcrumbs .arrow {
  padding: 0 5px;
}
.breadcrumbs a:hover {
  color: #D0021B;
}

.logo {
  padding-left: 32px;
  padding-right: 16px;
  width: 128px;
}

textarea {
  font-family: "Myriad Pro";
  font-size: 16px;
  width: 100%;
  height: 100px;
  border: 1px #bbb solid;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

input:focus {
  outline: none;
}

.search-input {
  width: 384px;
  font-family: "Myriad Pro";
  font-size: 18px;
  padding: 8px 16px 6px 16px;
  border: none;
  border-radius: 18px;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.24);
}
.search-input::placeholder {
  color: #ccc;
}
.search-input:hover {
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.33);
}
.search-input:focus {
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.33);
}

.input-number {
  font-size: 18px;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  padding-left: 12px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #444;
}

.cart-block {
  position: relative;
}

.delete-from-cart {
  color: #999;
}
.delete-from-cart:hover {
  color: #D0021B;
}

.shield {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

.modal {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 16px;
  width: 400px;
  height: auto;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.33);
  font-family: "Myriad Pro";
}
.modal > input {
  border: 1px solid #bbb;
  border-radius: 3px;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 16px;
}
.modal > input::placeholder {
  color: #bbb;
}
.modal-block {
  text-align: center;
  margin: 16px 0;
}
.modal-block.heading {
  font-size: 24px;
}
.modal-form, .modal-question, .modal-success {
  display: none;
}
.modal-success {
  font-size: 21px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1280px;
  box-sizing: border-box;
  margin: 32px 0 50px 0;
  background-color: white;
  border-radius: 16px;
}
.cart > h3 {
  margin: 100px auto;
  font-weight: normal;
  font-size: 32px;
  color: #999;
}
.cart-item {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-top: 1px dashed #999;
}
.cart-item:first-of-type {
  border-top: none;
}
.cart-block-column {
  width: 144px;
}
.cart-block-column.order-button-column {
  width: auto;
}
.cart-block-title {
  font-family: "Myriad Pro";
  margin-bottom: 6px;
  color: #999;
}
.cart-block-value {
  font-family: "Myriad Pro";
  font-size: 24px;
}
.cart-block-value.product-name {
  font-size: 16px;
  padding-right: 16px;
}
.cart-product {
  width: 400px;
}
.cart-image {
  margin: 0 25px;
  width: 128px;
  height: 128px;
  background-size: contain;
}
.cart-image-blank {
  height: 64px;
}

.empty-cart-message {
  display: none;
}

.notification {
  display: none;
  position: absolute;
  top: -8px;
  right: -20px;
  color: white;
  background-color: #D0021B;
  border-radius: 25px;
  font-size: 13px;
  font-family: "Myriad Pro";
  padding: 3px 7px 0 7px;
}

footer {
  display: flex;
  width: 100vw;
  height: 128px;
  justify-content: center;
  align-items: center;
  background-color: #292e34;
  color: #bbb;
  font-family: "Myriad Pro";
}

@media (max-width: 1216px) {
  .ui-links .column {
    margin-top: 12px;
  }

  .logo-link {
    margin-bottom: 16px;
  }

  .nav > * {
    align-self: flex-start;
  }
}
@media (max-width: 1026px) {
  header {
    flex-wrap: wrap;
  }
  header .column {
    justify-content: center;
    align-self: center;
  }

  .phone {
    font-size: 20px;
  }

  .ui-links .column {
    margin-right: 0;
  }

  .catalog {
    flex-direction: column;
  }

  .items {
    justify-content: center;
  }

  .product-container {
    width: 100%;
  }
  .product-layout {
    flex-direction: column;
  }

  h1 {
    line-height: 1.2;
  }
}
@media (max-width: 903px) {
  header .column {
    width: 100%;
  }

  .nav > * {
    align-self: center;
  }

  .nm {
    padding-bottom: 0;
  }

  .nav-links {
    flex-direction: column;
  }
  .nav-links .column {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .map {
    margin-bottom: 32px;
  }
  .map > iframe {
    width: 90vw;
    height: 400px;
  }
}
